# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*

# Build output
dist/
out/

# Sequelize migration directory
/migrations/

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.swp
